body {
    background-color: #fff;
    color: #00bcd4;
    font-family: "Helvetica Neue", sans-serif;
    height: 100vh;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
}

.container {
    background-color: #fff;
    padding: 20vh 90px;
    border-radius: 5px;
    min-height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form-group label {
    color: #00bcd4;
    font-weight: bold;
}

.form-group input {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #00bcd4;
    border-radius: 10px;
    padding: 15px;
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #10bcf4;
}

.alert {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}

.btn-danger {
    color: black;
    background-color: transparent;
    border: none;
}

video {
    border-radius: 20px;
}